# Bibliotecas

In [37]:
import pandas as pd
from pathlib import Path
import os

# Tratar bases

In [38]:
# Diretório base onde o arquivo CSV está localizado
base_diretório = Path(os.getcwd())
diretório_princapl = base_diretório.parent
caminho = diretório_princapl / 'Base'

import pandas as pd

# Definir os caminhos para cada criptomoeda
arquivo_ibovespa = caminho / 'Dados Históricos - Ibovespa.csv'

# Função para tratar os dados
def tratar_dados_cripto(caminho_csv):
    # Ler o arquivo CSV
    acao = pd.read_csv(caminho_csv)

    # Formatar a coluna de data
    acao['Data'] = pd.to_datetime(acao['Data'], format='%d.%m.%Y')

    # Converter colunas numéricas com vírgula como separador decimal
    colunas_dinheiro = ['Último', 'Abertura', 'Máxima', 'Mínima']
    for coluna in colunas_dinheiro:
        acao[coluna] = acao[coluna].astype(str).str.replace(',', '.').astype(float)

    # Converter a coluna 'Var%' para float decimal
    acao['Var%'] = acao['Var%'].str.replace('%', '', regex=False).str.replace(',', '.', regex=False).astype(float) / 100
    acao['Var%'] = acao['Var%'].round(4)

    acao = acao.drop(columns=['Vol.'])

    # Renomear a coluna 'Var%'
    acao = acao.rename(columns={'Var%': 'Variacao (%)'})

    # Ordenar os dados pela data
    acao = acao.sort_values(by='Data', ascending=True)

    return acao

# Aplicar a função
df_ibovespa = tratar_dados_cripto(arquivo_ibovespa)


df_ibovespa.to_csv("Base Ibovespa Tratada.csv", index=False)

In [39]:
df_ibovespa

           Data   Último  Abertura   Máxima   Mínima  Variacao (%)
0    2015-01-05   47.517    48.512   48.512   47.264       -0.0205
1    2015-01-06   48.001    47.517   48.061   47.338        0.0102
2    2015-01-07   49.463    48.006   49.882   48.006        0.0305
3    2015-01-08   49.943    49.463   50.261   49.017        0.0097
4    2015-01-09   48.840    49.955   49.955   48.501       -0.0221
...         ...      ...       ...      ...      ...           ...
2577 2025-05-28  138.888   139.541  139.547  138.580       -0.0047
2578 2025-05-29  138.534   138.869  139.108  137.993       -0.0025
2579 2025-05-30  137.027   138.546  138.637  136.726       -0.0109
2580 2025-06-02  136.787   137.026  138.471  136.483       -0.0017
2581 2025-06-03  136.685   136.787  136.788  136.685       -0.0007

[2582 rows x 6 columns]